@font-face {
    font-family: "Bebas Neue";
    src: url(../../assets/fonts/BebasNeue-Regular.ttf);
  }

page-house-training {
    .cat{
        font-family: 'Lobster', cursive;
        font-size: 56px;
    }

    .item.wrap, .item-content.wrap {
        white-space: normal;
        }
        ion-card{
            border: 5px solid black;
            padding: 0px;
        }

        .active {
            background-color: color($colors, test6);
            color: rgb(55, 55, 55);
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0px;
            background-color: rgb(247, 130, 63);
        }
        
        li {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            float: left;
            font-family: 'Bebas Neue';
            font-size: 36px;
            background-color: rgb(247, 130, 63);
            
        }
    
        li:hover {
            background-color: #555;
            color: white;
        }

        li:last-child{
            float: right;
        }
        
        .catcontent{
            font-family: 'Cute Font', cursive;
            font-size: 36px;
            }

        h1{
            font-size:36px;
        }

        img{
            float: right;
        }
}
