@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cute+Font');

.head{
    font-family: 'Lobster', cursive;
    font-size: 40px;
  }
  
  .pagelist{
    font-family: 'Cute Font', cursive;
    font-size: 30px;
  }
  
  #con{
    background-color:color($colors, test7);
    color: white;
}
    

